.serielist {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.serielist .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}